{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ]
  ],
  "ignore": [
    "test-dist",
    "node_modules"
  ]
}
